aiofiles
aiohttp==3.10.2
asyncio==3.4.3
beautifulsoup4
dnspython
blackpink
pycountry
ffmpeg-python
gitpython
hachoir
heroku3
pykeyboard
pyshorteners
pillow==10.3.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
wget
tgcrypto
unidecode
yt-dlp==2024.7.7
youtube-search
youtube-search-python
pornhub-api==0.3.0
openai==1.35.7
telegraph
async_pymongo
gpytranslate
search_engine_parser
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.5.7
httpx==0.25.2
gpytranslate
emojis
cloudscraper
blackpink
pycryptodome
pickledb
Faker
pyfiglet
qrcode
pytz
pydub
apscheduler
pymongo==4.6.3
motor<3.4.0